PORT=8000
DEBUG=0

# Directory the tracks will be downloaded to.
DOWNLOAD_DIR=.

# Filename format of downloaded tracks. This will be passed to the `spotdl` command's `--output` flag.
# See https://spotdl.readthedocs.io/en/latest/usage/ for more information.
DOWNLOAD_FILENAME={artist} - {title}